[submodule "NitroDebugger"]
	path = Programs/NitroDebugger
	url = https://github.com/pleonex/NitroDebugger
[submodule "DataBrithm/libs/xwt"]
	path = DataBrithm/libs/xwt
	url = http://github.com/mono/xwt
[submodule "Games/Layton4/libgame"]
	path = Games/Layton4/libgame
	url = git@github.com:pleoneX/libgame.git
[submodule "Games/Boku1PSP"]
	path = Games/Boku1PSP
	url = git@github.com:pleonex/Boku-no-Natsuyasumi.git
[submodule "Games/libgame"]
	path = Games/libgame
	url = git@github.com:pleonex/libgame.git
[submodule "Games/ninokuni"]
	path = Games/ninokuni
	url = https://github.com/pleonex/ninokuni
[submodule "Games/Pokemon-Conquest"]
	path = Games/Pokemon-Conquest
	url = https://github.com/pleonex/Pokemon-Conquest-Tools
[submodule "Programs/DataBrithm/libs/xwt"]
	path = Programs/DataBrithm/libs/xwt
	url = https://github.com/mono/xwt
[submodule "Programs/RC4Finder/modime"]
	path = Programs/RC4Finder/modime
	url = http://github.com/pleonex/modime
[submodule "Programs/RelativeSearch"]
	path = Programs/RelativeSearch
	url = git@github.com:pleonex/RelativeSearch
[submodule "Programs/tinke"]
	path = Programs/tinke
	url = http://github.com/pleonex/tinke
[submodule "wiki"]
	path = wiki
	url = git@github.com:pleonex/AiroRom.wiki.git
[submodule "Programs/NitroFilcher"]
	path = Programs/NitroFilcher
	url = https://github.com/pleonex/NitroFilcher
