[submodule "NitroDebugger"]
	path = NitroDebugger
	url = https://github.com/pleonex/NitroDebugger
[submodule "DataBrithm/libs/xwt"]
	path = DataBrithm/libs/xwt
	url = http://github.com/mono/xwt
[submodule "Games/Layton4/libgame"]
	path = Games/Layton4/libgame
	url = git@github.com:pleoneX/libgame.git
[submodule "Games/Boku1PSP"]
	path = Games/Boku1PSP
	url = git@github.com:pleonex/Boku-no-Natsuyasumi.git
